

.about-section {
    justify-self: center;
    max-width: 600px;
    line-height: 1.4rem;
    margin-top: 1rem;
    border: 1px solid black;

}

h2, p {
    padding: .25rem;
}


span {
    font-weight: bold;
    color: brown;
}