

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   
}


.pro-container {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    padding: .5rem;
    border-radius: 10px;
    transform: scale(0.95);
    transition: transform 0.3s ease-in !important;
}

.pro-container:hover {
    transform: scale(1);
}

.pro-container img{
    width: 100%;
    border-radius: 10px;
    border: none;
    padding: .5rem;

}


.pro-container h2 {
    font-size: 1.3rem;
}


